div.content,
article.content {
  h1 {
    font-size: 34px;
    line-height: 1;
    margin-top: 0px
  }

  h2 {
    font-size: 24px;
    padding-top: 40px;
  }
}

section.photos {
  color: #666;
  font-size: 13px;
  line-height: 1.5;

  img {
    margin-bottom: 10px;
  }

  article {
    margin-bottom: 20px;
  }
}