div#history {
  article h1 {
    font-size: 22px;
  }
}

div#history section.photos {
  color: #666;
  font-size: 12px;

  img {
    margin-bottom: 10px;
  }

  article {
    margin-bottom: 20px;
  }
}