<section id="history">
  <div class="container">
    <header class="row">
      <h1 class="span12">Nossa história</h1>
    </header>

    <div class="row">
      <div class="span4">
        <%= link_to image_tag("pages/history/historico_1.jpg", title: "Créditos: Arquivo institucional"), "/historia" %>
      </div>

      <div class="span8">
        <p>
          Fundado sob o nome de Associação para a Restauração do Homem (ARH) em 6 de setembro de 1991 por Abigail Mesquita, o Espaço da Criança-ARH já ajudou, desde então, mais de 1.000 crianças da cidade do Recife.
        </p>

        <p>
          Em seus primeiros anos, a instituição atendia não apenas crianças, mas todo tipo de população marginalizada da área, funcionando inclusive como abrigo para moradores de rua. Entretanto, as dificuldades inerentes a tal escopo de trabalho fizeram com que, pouco tempo após sua fundação, a Associação buscasse cumprir sua missão e restaurar o homem resgatando, primeiro, a criança.
        </p>

        <p>
          Esse foco foi traduzido no nome fantasia Espaço da Criança adotado pela instituição e mantido até hoje.
        </p>

        <p><%= link_to "Leia mais...", "/historia" %></p>
      </div>
    </div>
  </div>
</section>