<section id="intro">
  <div class="container">
    <section class="row">
      <article class="span10">
        <header>
          Através de eventos solidários, levamos à comunidade dos Coelhos cuidados e serviços essenciais.
        </header>
      </article>

      <div class="span2">
        <section class="row">
          <article class="span2">
            <%= link_to image_tag("logo.jpg"), "/quem_somos" %>
            <h1><%= link_to "A instituição", "/quem_somos" %><h1>
          </article>
        </section>

        <section class="row">
          <article class="span2">
            <%= link_to image_tag("intro_3.jpg"), "/como_ajudar" %>
            <h1><%= link_to "Como ajudar", "/como_ajudar" %><h1>
          </article>
        </section>
      </div>
    </section>
  </div>
</section>