<section id="intro">
  <div class="container">
    <section class="row">
      <article class="span10">
        <header>
          Nossa missão é promover o desenvolvimento das crianças e famílias carentes do Recife. Mostrar que podem mudar, evoluir e alcançar todo seu potencial, melhorando, assim, suas vidas e sua comunidade. Acreditamos que esta mudança começa aqui.
        </header>
      </article>

      <div class="span2">
        <section class="row">
          <article class="span2">
            <%= link_to image_tag("logo.jpg"), "/quem_somos" %>
            <h1><%= link_to "A instituição", "/quem_somos" %><h1>
          </article>
        </section>

        <section class="row">
          <article class="span2">
            <%= link_to image_tag("index/como_ajudar.jpg"), "/como_ajudar" %>
            <h1><%= link_to "Como ajudar", "/como_ajudar" %><h1>
          </article>
        </section>
      </div>
    </section>
  </div>
</section>