<section id="intro">
  <header class="row">
    <h1 class="span12">Bem vindo(a)!</h1>
  </header>

  <section class="row">
    <article class="span4">
      <%= link_to image_tag("logo.png"), "/quem_somos" %>
      <h1><%= link_to "A instituição", "/quem_somos" %><h1>
    </article>
    <article class="span4">
      <%= image_tag "intro_2.jpg" %>
      <h1>Em branco</h1>
    </article>
    <article class="span4">
      <%= image_tag "intro_3.jpg" %>
      <h1>Como ajudar</h1>
    </article>
  </section>
</section>