<div id="comunity_activities">
  <div class="container">
    <section id="intro">
      <section class="row">
        <div class="content span8">
          <h1>Atividades com a Comunidade</h1>
          <p>
            O nível mais amplo de atuação do Espaço da Criança-ARH é a ação na comunidade dos Coelhos como um todo, que é atendida diretamente através de várias iniciativas. Uma vez por ano, a entidade realiza o Renovação, um dia de solidariedade aberto aos moradores da área, no qual os participantes têm acesso gratuito a uma gama de serviços importantes: consultas médicas, nutricionais e odontológicas; expedição de documentos; palestras; atendimento jurídico; cabeleireiros; além de recreação para as crianças e distribuição de alimentos, brinquedos e outros artigos.
          </p>

          <p>
            O Renovação atrai centenas de participantes, e conta com o apoio de voluntários públicos e privados para sua execução. Através deste evento, o Espaço da Criança-ARH objetiva levar serviços e cuidados importantes para um maior número de pessoas, consolidar seu papel social na comunidade e otimizar os esforços destinados a melhorar a qualidade de vida dos residentes da região.
          </p>
        </div>

        <section class="photos span4">
          <div class="row">
            <article class="span4">
              <%= image_tag "activities/comunidade_0.jpg" %>
            </article>
            <article class="span4">
              <%= image_tag "activities/comunidade_1.jpg" %>
            </article>
            <article class="span4">
              <%= image_tag "activities/comunidade_2.jpg" %>
            </article>
            <article class="span4">
              <%= image_tag "activities/comunidade_3.jpg" %>
            </article>
          </div>
        </section>
      </section>
    </section>
  </div>
</div>