<div id="comunity_activities">
  <div class="container">
    <header id="banner">
    </header>
    
    <section id="intro">
      <section class="row">
        <div class="content span8">
          <h1>Comunidade</h1>
          <p>
            O nível mais amplo de atuação do Espaço da Criança-ARH é a ação na comunidade dos Coelhos como um todo, que é atendida diretamente através de várias iniciativas. Uma vez por ano, a entidade realiza o Renovação, um dia de solidariedade aberto aos moradores da área, no qual os participantes têm acesso gratuito a uma gama de serviços importantes: 
          </p>
          <ul>
            <li>Médicos</li>
            <li>Nutricionistas</li>
            <li>Dentistas</li>
            <li>Expedição de documentos e certidões</li>
            <li>Atendimento jurídico</li>
            <li>Palestras</li>
            <li>Cabeleireiro e estética</li>
            <li>Recreação infantil</li>
            <li>Distribuição de alimentos, brinquedos e outros artigos</li>
          </ul>

          <p>
            O Renovação atrai centenas de participantes, e conta com o apoio de voluntários públicos e privados para sua execução. Através deste evento, o Espaço da Criança-ARH objetiva levar serviços e cuidados importantes para um maior número de pessoas, consolidar seu papel social na comunidade e otimizar os esforços destinados a melhorar a qualidade de vida dos residentes da região.
          </p>
        </div>

        <section class="photos span4">
          <div class="row">
            <article class="span4">
              <%= image_tag "activities/comunidade_1.jpg", title: "Créditos: Rafael Mesquita" %>
              <p>
                Os participantes do Renovação têm acesso a serviços gratuitos de salão de beleza, consulta médica, assessoria jurídica, palestras e mais.
              </p>
            </article>
            <article class="span4">
              <%= image_tag "activities/comunidade_2.jpg", title: "Créditos: Rafael Mesquita" %>
              <p>
                Além da prestação de serviços, os participantes também ganham cestas básicas e outros donativos.
              </p>
            </article>
            <article class="span4">
              <%= image_tag "activities/comunidade_3.jpg", title: "Créditos: Rafael Mesquita" %>
              <p>
                O Renovação é realizado desde 2012 e reúne centenas de moradores da região.
              </p>
            </article>
          </div>
        </section>
      </section>
    </section>
  </div>
</div>