<div id="comunity_activities">
  <div class="container">
    <section id="intro">
      <section class="row">
        <div class="content span8">
          <h1>Atividades com as Famílias</h1>
          <p>
            No intuito de garantir uma maior efetividade em suas ações de recuperação e formação, a organização trabalha não somente com as crianças, mas também com suas famílias.
          </p>

          <p>
            Tradicionalmente, a instituição entrega diversos donativos em cada domicílio e, desde 2010, tem estendido às mães e a outras mulheres da comunidade diversos cursos semiprofissionalizantes no intuito de capacitá-las para melhorarem a qualidade de vida de seus lares através da geração de renda.
          </p>
        </div>

        <section class="photos span4">
          <div class="row">
            <article class="span4">
              <%= image_tag "activities/familias_1.jpg" %>
            </article>
            <article class="span4">
              <%= image_tag "activities/familias_2.jpg" %>
            </article>
            <article class="span4">
              <%= image_tag "activities/familias_3.jpg" %>
            </article>
          </div>
        </section>
      </section>
    </section>
  </div>
</div>