<div id="family_activities">
  <div class="container">
    <header id="banner">
    </header>
    
    <section id="intro">
      <section class="row">
        <div class="content span8">
          <h1>Atividades com as Famílias</h1>
          <p>
            A família é a principal influência no desenvolvimento da criança. Por isso, para garantir maior efetividade em nossas ações, no Espaço da Criança-ARH adotamos uma abordagem que contempla todo o lar.
          </p>

          <p>
            Desde 2010, temos estendido às mães e a outras mulheres da comunidade diversos cursos semiprofissionalizantes no intuito de capacitá-las para melhorarem a qualidade de vida de suas famílias através da geração de renda. Buscamos com isso empoderá-las para mostrar-lhes o seu potencial para alcançarem uma mudança de vida.
          </p>

          <p>
            Também, a instituição entrega regularmente diversos donativos a todos os domicílios necessitados.
          </p>
        </div>

        <section class="photos span4">
          <div class="row">
            <article class="span4">            
              <h2>Curso de manicure</h2>
            <ul>
              <li>Curso básico de manicure</li>
              <li>Carga horária: 48h</lI>
            </ul>
              <%= image_tag "activities/familias_1.jpg", title: "Créditos: Rafael Mesquita" %>
            </article>
            <article class="span4">            
              <h2>Curso de culinária</h2>
              <ul>
                <li>Curso básico de culinária para preparos de lanches, doces e salgados.</li>
                <li>Carga horária: 60h</lI>
              </ul>
              <%= image_tag "activities/familias_2.jpg", title: "Créditos: Rafael Mesquita" %>
            </article>
            <article class="span4">
              <h2>Curso de cabeleireira</h2>
              <ul>
                <li>Curso básico de cabeleireira, corte e escova.</li>
                <li>Carga horária: 60h</lI>
              </ul>
              <%= image_tag "activities/familias_3.jpg", title: "Créditos: Rafael Mesquita" %>
            </article>
          </div>
        </section>
      </section>
    </section>
  </div>
</div>