footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 90px;
  background: rgba(65,152,235,.15);
  border-top: 1px solid #999;
  background-size: cover;

  ul, li {
    list-style: none;
    color: #666;
  }

  li + li {
    margin-top: 7px;
  }

  li img {
    width: 24px;
    margin-right: 7px;
  }
}