body h1 {
  font-family: "Candara", "Qlassik bold", "Chaparral Pro Bold", "Tahoma Bold";
}

body {
  font-family: "Calibri", "Tahoma";
}

body .container > section {
  padding: 50px 0px;

  header {
    margin-bottom: 30px;
  }

  header h1 {
    text-align: center;
    margin-top: 0px;
    font-size: 32px;
  }
}

section article img {
  border: 1px solid #ccc;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

header#banner + #intro {
  margin-top: 0px;
}

section#intro {
  margin-top: 60px;
  border: 0px;
}