nav#top_nav {
  height: 58px;
  background: #ff6400;
  width: 100%;
  z-index: 100;
  vertical-align: top;
  border-bottom: 1px solid #666;
  position: relative;
  z-index: 99;

  img {
    background: white;
    padding: 6px;
    height: 72px;
    margin-right: 20px;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
  }

  ul {
    padding: 0px;
    margin: 0px;
    vertical-align: top;
  }

  ul, li {
    display: inline-block;

  }

  li {
    color: white;
  }

  li a,
  li span {
    display: inline-block;
    height: 39px;
    padding-top: 18px;
    color: white;
  }

  li + li {
    margin-left: 20px;
  }

  #how_to_help_btn {
    background: white;
    color: #ff6400;
    margin-top: 16px;
    float: right;
    padding: 3px 20px;
    height: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  li ul {
    display: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 1px solid #666;
    margin-left: -10px;
    z-index: 100;

    border-top: #ff6400;
  }

  li ul li {
    display: block;
    margin: 0px;
    padding: 0px;
    background: #ff6400;
    height: 45px;
  }

  li ul li a {
    padding-left: 10px; 
    padding-right: 10px;
    min-width: 100px; 
  }
}