nav#top_nav {
  height: 45px;
  background: rgb(255,113,0);
  position: fixed;
  width: 100%;

  ul {
    padding: 0px;
    margin: 0px;
  }

  ul, li {
    display: inline-block;

  }

  li a {
    display: inline-block;
    height: 35px;
    padding-top: 10px;
    color: white;
    font-family: sans-serif;
  }

  li + li {
    margin-left: 20px;
  }
}