<nav id="languages">
  <div class="container">
    <ul>
      <li>
        <a href="/">
          <%= image_tag "icons/brazil.gif" %>
        </a>
      </li>
      <li>
        <a href="/en">
          <%= image_tag "icons/usa.jpg" %>
        </a>
      </li>
    </ul>
  </div>
</nav>