<section id="history">
  <div class="container">
    <header class="row">
      <h1 class="span12">Our History</h1>
    </header>

    <div class="row">
      <div class="span4">
        <%= link_to image_tag("pages/history/historico_1.jpg", title: "Créditos: Arquivo institucional"), "/historia" %>
      </div>

      <div class="span8">
        <p>
          Founded under the name Associação para a Restauração do Homem (Association for the Restoration of Mankind - ARH) on December, 6th 1991 by Abigail Mesquita, Espaço da Criança-ARH has already helped two generations and more than 1,000 children in Recife.
        </p>

        <p>
          In its early years, the institution aimed to serve all those who were marginalized within the local community, but over time realized that to help build a stronger city we first have to invest in  its next generation. This renewed focus was translated into the name Espaço da Criança (Kid's Place) and the mission statement: that change starts here, through helping the children of the favela realize their potential.
        </p>

        <p><%= link_to "Read more...", "/history" %></p>
      </div>
    </div>
  </div>
</section>