<section id="intro">
  <div class="container">
    <section class="row">
      <article class="span10">
        <header>
          Our mission is to help the most vulnerable children and families in Recife realize their potential. We want to show them that they can change, grow, and add value to their own lives and that of their community. We believe that this change starts here.
        </header>
      </article>

      <div class="span2">
        <section class="row">
          <article class="span2">
            <%= link_to image_tag("logo.jpg"), "/en/who_we_are" %>
            <h1><%= link_to "The institution", "/en/who_we_are" %><h1>
          </article>
        </section>

        <section class="row">
          <article class="span2">
            <%= link_to image_tag("index/como_ajudar.jpg"), "/en/how_to_participate" %>
            <h1><%= link_to "How to participate", "/en/how_to_participate" %><h1>
          </article>
        </section>
      </div>
    </section>
  </div>
</section>