<section id="location">
  <div class="container">
    <header class="row">
      <h1 class="span12">Location</h1>
    </header>

    <section class="row">
      <article class="span6">
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Jose+de+Alencar,+421+-+Boa+Vista+-+Recife+-+Pernambuco+-+Brasil&amp;sll=-8.052856,-34.885883&amp;sspn=0.039603,0.079994&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Jos%C3%A9+de+Alencar,+421+-+Boa+Vista,+Recife+-+Pernambuco,+50070-030&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
        <br>
        <small><a href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Jose+de+Alencar,+421+-+Boa+Vista+-+Recife+-+Pernambuco+-+Brasil&amp;sll=-8.052856,-34.885883&amp;sspn=0.039603,0.079994&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Jos%C3%A9+de+Alencar,+421+-+Boa+Vista,+Recife+-+Pernambuco,+50070-030&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left" target="_blank">Exibir mapa ampliado</a>
        </small>
      </article>

      <article class="span6">
        <%= image_tag "index/predio.jpg" %>
      </article>
    </section>


    <aside class="row">
      <div class="span6 offset6">
        Espaço Criança - Associação para Restauração do Homem<br>
        R. José de Alencar, 421, Boa Vista, Recife - Pernambuco - Brasil
      </div>
    </aside>
  </div>
</section>