section#activities {
  article { 
    text-align: center;
  }

  article h1 {
    font-size: 22px;
  }

  article img {
    width: 80%;
    border: 1px solid #ccc;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}