div#index section#intro {

  article {
    text-align: center;
  }

  article img {
    width: 100%
  }

  article h1 {
    font-size: 22px;
  }
}

div#index .container > section {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
}