div#index section#intro {
  background: white;
  padding-top: 60px;

  article {
    text-align: center;
  }

  article img {
    width: 100%;
  }

  article h1 {
    font-size: 22px;
    margin: 0px;
  }

  article header {
    font-size: 44px;
    line-height: 1.5;
  }
}

div#index > section {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
}

div#index > section:last-child {
  border-bottom: 0px;
}

div#index header#banner + #intro {
  margin-top: 0px;
}