section#sponsors {
  background: white;
  & > section + section {
    margin-top: 20px;
  }

  article {
    display: table-cell;
    vertical-align: middle;
  }

  article a {
    display: inline-block;
  }

  article img {
    border: 0px;
    width: 200px;
  }
}