<div id="children_activities">
  <div class="container">
    <header id="banner">
    </header>
    
    <section id="intro">
      <section class="row">
        <div class="content span8">
          <h1>Children</h1>
          <p>
            Espaço da Criança-ARH currently assists around 100 underprivileged children a day, aged between 4 and 12, who live in Coelhos neighborhood and its surroundings.
          </p>
          <p>
            While at Espaço da Criança-ARH, each child receives two meals and volunteers help with many extra-curricular classes, such as reading, arts, dance, IT, religious studies and music; totaling 4-hours a day.
          </p>
          <p>
            Since 2012, Espaço da Criança-ARH has adopted a teaching methodology known as Education by Principles. It aims to teach students seven character principles: Self-control, Alliance, Individuality, Sowing and Reaping, Character, Stewardship and Sovereignty, that can inform all parts of their life. This approach restores the essential values that are often compromised by living in a harsh environment.
          </p>
          <p>
            As part of a child’s induction into the organization, social and psychological assessments are carried out, to provide personalized care plans for each child and their family. The children and their families receive psychological and social support through regular counseling, alongside monthly meetings to discuss the child’s development with family members.
          </p>
        </div>

        <section class="photos span4">
          <div class="row">
            <article class="span4">
              <%= image_tag "activities/criancas_1.jpg", title: "Credits: Luminosa Fotografia" %>
              <p>
                At the organization the children have computing, reading, arts, dance and recreation classes.
              </p>
            </article>
            <article class="span4">
              <%= image_tag "activities/criancas_2.jpg", title: "Credits: Luminosa Fotografia" %>
              <p>
                Each child receives two daily meals in the institution.
              </p>
            </article>
            <article class="span4">
              <%= image_tag "activities/criancas_3.jpg", title: "Credits: Luminosa Fotografia" %>
              <p>
                The methodology “Education by Principles” focuses on the development of values in each child.
              </p>
            </article>
          </div>
        </section>
      </section>
    </section>
  </div>
</div>