<div id="comunity_activities">
  <div class="container">
    <header id="banner">
    </header>
    
    <section id="intro">
      <section class="row">
        <div class="content span8">
          <h1>Community</h1>
          <p>
            Espaço da Criança-ARH’s widest level of action is in the Coelhos community, through a number of events. Once a year, the institution holds the “Renovação” (Renovation): a day of charity, open for all people who live in the neighborhood. At these events, all the participants have access to a huge quantity of free essential services: 
          </p>
          <ul>
            <li>Doctors</li>
            <li>Nutritionists </li>
            <li>Dentists</li>
            <li>Emission of documents and certificates </li>
            <li>Legal assistance </li>
            <li>Lectures </li>
            <li>Hairdresser and Spa </li>
            <li>Children’s play area </li>
            <li>Distribution of food, toys and other articles.</li>
          </ul>

          <p>
            The "Renovação" attracts hundreds of participants, with the help of public and private volunteers. Through this event, Espaço da Criança-ARH aims to bring important services and care to the whole community, to improve the life quality of people living in the area.
          </p>
        </div>

        <section class="photos span4">
          <div class="row">
            <article class="span4">
              <%= image_tag "activities/comunidade_1.jpg", title: "Credits: Rafael Mesquita" %>
              <p>
                The participants of “Renovação” have access to free services during the event.
              </p>
            </article>
            <article class="span4">
              <%= image_tag "activities/comunidade_2.jpg", title: "Credits: Rafael Mesquita" %>
              <p>
                Besides having access to all these services, the participants also gain food parcels and other donations.
              </p>
            </article>
            <article class="span4">
              <%= image_tag "activities/comunidade_3.jpg", title: "Credits: Rafael Mesquita" %>
              <p>
                Since 2012 the “Renovação” has brought together hundreds of people who live in the neighborhood.
              </p>
            </article>
          </div>
        </section>
      </section>
    </section>
  </div>
</div>