<div id="family_activities">
  <div class="container">
    <header id="banner">
    </header>
    
    <section id="intro">
      <section class="row">
        <div class="content span8">
          <h1>Activities with the Families</h1>
          <p>
            Family is the main influence in a child’s development. For this reason, at Espaço da Criança-ARH we adopt an approach that embraces the whole household.
          </p>

          <p>
            Since 2010, we have offered many professional development courses to the mothers and women in the community, so that they can make money to support their households and break the cycle of drug-trafficking and prostitution that plagues the community. We seek to empower these women by showing them that they have the potential to promote change in their lives.
          </p>

          <p>
            Espaço da Criança-ARH also provides donations and support for these families regularly and in times of greater need. At the favela, disasters such as fires and floods are recurring and these families often lose everything they have. The organization rallies behind those in need to provide counseling, food-provisions, new furniture, clothes and access to support.
          </p>
        </div>

        <section class="photos span4">
          <div class="row">
            <article class="span4">            
              <h2>Manicure course</h2>
            <ul>
              <li>Basic Manicure Course</li>
              <li>Course duration: 48h over 3 months</lI>
            </ul>
              <%= image_tag "activities/familias_1.jpg", title: "Credits: Rafael Mesquita" %>
            </article>
            <article class="span4">            
              <h2>Cooking Course</h2>
              <ul>
                <li>Basic cooking course focused on the preparation of snacks, candies and pastries.</li>
                <li>Course duration: 60h over 3 months</lI>
              </ul>
              <%= image_tag "activities/familias_2.jpg", title: "Credits: Rafael Mesquita" %>
            </article>
            <article class="span4">
              <h2>Hairdresser Course</h2>
              <ul>
                <li>Basic course focused on hair styling.</li>
                <li>Course duration: 60h over 3 months</lI>
              </ul>
              <%= image_tag "activities/familias_3.jpg", title: "Credits: Rafael Mesquita" %>
            </article>
          </div>
        </section>
      </section>
    </section>
  </div>
</div>