<nav id="top_nav">
  <div class="container">
    <nav>
      <%= link_to image_tag("logo.png"), root_path %>
    </nav>
  </div>
</nav>

<div id="donate">
  <div class="container">
    <header id="banner">
    </header>

    <section id="intro">
      <header class="row">
        <h1 class="span12">Doação Online</h1>
      </header>

      <section class="row">
        <div class="span6 offset3">
          <article class="content">
            <h3>Dados Bancários para depósito:</h3>

            <p>
              <h2>Banco do Brasil</h2>
              Agência 3258-1<br />
              Conta 141.313-9
            </p>
          </article>

          <aside>
            <p>
              Por favor, nos envie um email com seus dados para facilitar a identificação do depósito!
            </p>

            <p>
              Nome<br />
              Telefone<br />
              Email<br />
              Quantia doada
            </p>

            <%= link_to "arhcrianca@gmail.com", "mailto:arhcrianca@gmail.com", :target => "_blank" %>
          </aside>
        </div>
      </section>
    </section>
  </div>
</div>