<div id="photos">
  <div class="container">
    <header id="banner">
    </header>
    
    <section id="intro">
      <section class="row">
        <div class="content span12">
          <h1>Fotos e Vídeos</h1>
        </div>
      </section>

      <div class="row">
        <div class="content span8">
          <h2>Vídeos</h2>
          <iframe width="480" height="360" src="//www.youtube.com/embed/XDN7rI_GPN8?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="text span4">
          <p>Assista mais vídeos no youtube!</p>
          <%= link_to image_tag("youtube.png"), "http://www.youtube.com/user/EspacoCriancaARH", target: :_blank %>
        </div>
      </div>
    </section>
  </div>
</div>