<div id="history">
  <div class="container">
    <header id="banner">
    </header>
    
    <section id="intro">
      <section class="row">
        <div class="content span8">
          <h1>Nossa história</h1>
          <p>
            Este Espaço nasceu de um sonho de restauração. Um sonho de que é possível transformar crianças carentes em homens transformados.
          </p>
          
          <p>
            Fundado sob o nome de Associação para a Restauração do Homem (ARH) em 6 de setembro de 1991 por Abigail Mesquita, o Espaço da Criança-ARH já ajudou, desde então, mais de 1.000 crianças da cidade do Recife.
          </p>
          
          <p>
            Em seus primeiros anos, a instituição atendia não apenas crianças, mas todo tipo de população marginalizada da área, funcionando inclusive como abrigo para moradores de rua. Entretanto, as dificuldades inerentes a tal escopo de trabalho fizeram com que, pouco tempo após sua fundação, a Associação buscasse cumprir sua missão de restaurar o homem resgatando, primeiro, a criança.
          </p>
          <p>
            Esse foco foi traduzido no nome fantasia "Espaço da Criança" adotado pela instituição e mantido até hoje. No início, o projeto educava, alimentava, vestia e amparava mais de 100 crianças e adolescentes em situação de risco.
          </p>
          <p>
            Crianças abandonadas e órfãs eram acolhidas pela instituição, que funcionou por 15 anos como abrigo e deu atendimento aos jovens dependentes químicos de cola.
          </p>
          <p>
            Entretanto, em 1994, com o agravamento da doença terminal de sua fundadora, a Associação incorreu em dificuldades financeiras e, consequentemente, o número de crianças diminuiu.          
          </p>
          <p>
            Enquanto viveu e liderou a obra, Abigail Mesquita a sustentou com sua própria renda, sem patrocínio governamental ou de organizações privadas.
          </p>
          <p>
            Mas o sonho continuou vivo mesmo após a partida da fundadora. A presidência passou à filha de Abigail, Núbia Mesquita (1994–1996), em seguida para sua cunhada, Starla Joy (1996–2000 e 2004–2006) e para o pastor Lécio Wanderley (2000–2004).
          </p>
          <p>
            Graças à ajuda de empresas, organizações não governamentais e pessoas físicas que foram atraídas por este chamado solidário, a instituição continua sua missão nos dias de hoje, sendo presidida, desde 2006, por Núbia Mesquita. 
          </p>
          <p>
            Graças à ajuda de empresas, organizações não governamentais e pessoas físicas que foram atraídas por este chamado solidário, a instituição continua sua missão nos dias de hoje, sendo presidida, desde 2006, por Núbia Mesquita. 
          </p>
          <p>
            Desde 2012, a instituição funciona em <%= link_to "sede própria", "http://espacocrianca-arh.blogspot.com.br/2012/09/espaco-da-crianca-arh-inaugura-sua-sede.html" %>, construída com apoio de numeroso parceiros.
          </p>
        </div>

        <section class="photos span4">
          <div class="row">
            <article class="span4">
              <%= image_tag "pages/history/historico_2.jpg", title: "Créditos: Arquivo institucional" %>
              <p>
                Abigail Mesquita cresceu no Recife e passou a maior parte da vida em Brasília. Ao voltar à capital pernambucana, chocou-se com o crescimento da miséria e fundou, em 1991, a Associação para a Restauração do Homem.
              </p>
            </article>
            <article class="span4">
              <%= image_tag "pages/history/historico_3.jpg", title: "Créditos: Rafael Mesquita" %>
              <p>
                A sede própria da ONG foi inaugurada em 2012 e se localiza no bairro da Boa Vista.
              </p>
            </article>
          </div>
        </section>
      </section>
    </section>
  </div>
</div>