<div id="multimedia">
  <div class="container">
    <header id="banner">
    </header>
    
    <section id="intro">
      <section class="row">
        <div class="content span12">
          <h1>Multimídia</h1>
        </div>
      </section>

      <div class="row">
        <div class="content span8">
          <h2>Vídeos</h2>
          <iframe width="480" height="360" src="//www.youtube.com/embed/XDN7rI_GPN8?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="text span4">
          <p>Assista mais vídeos no youtube!</p>
          <%= link_to image_tag("youtube.png"), "http://www.youtube.com/user/EspacoCriancaARH", target: :_blank %>
        </div>
      </div>

      <section class="row">
        <div class="content span12">
          <h2>Revista</h2>
          <div data-configid="0/1344526" style="width: 650px; height: 650px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
        </div>
      </section>
    </section>
  </div>
</div>