<div id="thank-you">
  <div class="container">
    <header id="banner">
    </header>

    <section id="intro">
      <section class="row">
        <div class="content span12">
          <h1>Obrigado!</h1>
        </div>
      </section>

      <section class="row">
        <div class="content span12">
          <p>
            Obrigado! Sua doação fará a diferença na vida das crianças do Recife!
          </p>
        </div>
      </section>
    </section>
  </div>
</div>
