<div id="multimedia">
  <div class="container">
    <header id="banner">
    </header>
    
    <section id="intro">
      <section class="row">
        <div class="content span12">
          <h1>Revista</h1>
        </div>
      </section>

      <section class="row">
        <div class="content span10">
          <p>
Por ocasião dos 21 anos do Espaço da Criança-ARH  em 2012, publicamos a Revista 21 em 2012, que descreve a trajetória da instituição, suas parcerias e as vidas que têm mudado através do seu trabalho. A publicação foi uma parceria da ONG com a Agência Experimental de Publicidade e Propaganda da Universidade Católica de Pernambuco e teve o apoio de numerosas empresas.
          </p>

          <div data-configid="0/1344526" style="width: 650px; height: 650px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
        </div>
      </section>
    </section>
  </div>
</div>