<div id="donate">
  <div class="container">
    <section id="intro">
      <header class="row">
        <h1 class="span6 offset3">Online Donation</h1>
      </header>

      <section class="row">
        <div class="span6 offset3">
          <article class="content">
            <h3>Bank data to make a deposit:</h3>

            <p>
              <h2>Banco do Brasil</h2>
              Agency number 3258-1<br />
              Account number 141.313-9
            </p>
          </article>

          <aside>
            <p>
              Please, send us an e-mail with your personal information and data to make your deposit identification easier!
            </p>

            <p>
              Name<br />
              Telephone<br />
              Email<br />
              Amount that was donated
            </p>

            <%= link_to "arhcrianca@gmail.com", "mailto:arhcrianca@gmail.com", :target => "_blank" %>
          </aside>
        </div>
      </section>
    </section>
    <header id="banner">
    </header>
  </div>
</div>