<div id="history">
  <div class="container">
    <header id="banner">
    </header>
    
    <section id="intro">
      <section class="row">
        <div class="content span8">
          <h1>Our History</h1>
          <p>
            The organization was founded by Abigail Mesquita on December 6th, 1991 and was originally given the name, Associação para a Restauração do Homem (Association for the Restoration of Mankind - ARH). It was Abigail’s belief that people could break the cycle of poverty that she saw all around her in the streets of Recife, if given the right opportunity. As such she funded the organization’s work through her own money.
          </p>
          
          <p>
            At inception, the institution aimed to serve all those who were marginalized within the local community, but over time realized that to help build a stronger city they first had to invest in  its next generation. This renewed focus was translated into the name Espaço da Criança (Kid's Place).
          </p>
          
          <p>
            In the following years, Abigail provided shelter for abandoned and orphaned children, and support for drug-addicted adolescents, all self-funded. However, unfortunately she died in 1994. At that time, she said that should the organization close after her death, it was the end of her dream, but should it go on it was God’s work.
          </p>
          <p>
            Over the next decade, Abigail’s family and friends pushed the organization forward to continue her work. They found financial support to help provide food, shelter and education to 100 children a day and their families; helping two generations and over 1,000 children in total.
          </p>
          <p>
            In 2012, Espaço da Criança’s partners and supporters provided the land and resources to build a new home for the organization in the heart of the commercial Boa Vista neighborhood, to serve the Coelhos favela and surrounding community.
          </p>

          <h2>Presidents</h2>
          <ul>
            <li>1991-1994: Abigail Mesquita</li>
            <li>1994-1996: Núbia Mesquita</li>
            <li>1996-2000: Starla Joy</li>
            <li>2000-2004: Pastor Lécio Wanderley</li>
            <li>2004-2006: Starla Joy</li>
            <li>2006-today: Núbia Mesquita</li>
          </ul>
        </div>

        <section class="photos span4">
          <div class="row">
            <article class="span4">
              <%= image_tag "pages/history/historico_2.jpg", title: "Créditos: Arquivo institucional" %>
              <p>
                Abigail Mesquita was raised in Recife and spent most of her lifetime in Brasília. When she returned to the capital of Pernambuco in 1991, she was shocked with the widespread poverty and she founded the Associação para a Restauração do Homem.
              </p>
            </article>
            <article class="span4">
              <%= image_tag "pages/history/historico_3.jpg", title: "Créditos: Rafael Mesquita" %>
              <p>
                The NGO’s own building was opened in 2012 and it is located in the Boa Vista neighborhood, in the center of Recife.
              </p>
            </article>
          </div>
        </section>
      </section>
    </section>
  </div>
</div>