<div id="multimedia">
  <div class="container">
    <header id="banner">
    </header>
    
    <section id="intro">
      <section class="row">
        <div class="content span12">
          <h1>Magazine</h1>
        </div>
      </section>

      <section class="row">
        <div class="content span10">
          <p>
            For Espaço da Criança-ARH’s 21st anniversary in 2012, we published the magazine "21 in 2012", which describes the institution’s history, its partnerships and the lives that it has changed through its work. The publication was a partnership between the institution and the Experimental Agency (Aê!) of the Catholic University of the state of Pernambuco, and was supported by several companies.
          </p>

          <div data-configid="0/1344526" style="width: 650px; height: 650px;" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
        </div>
      </section>
    </section>
  </div>
</div>