<div id="thank-you">
  <div class="container">
    <header id="banner">
    </header>

    <section id="intro">
      <section class="row">
        <div class="content span12">
          <h1>Thank you!</h1>
        </div>
      </section>

      <section class="row">
        <div class="content span12">
          <p>
            Thank you! Your donation will make a difference in the children's life from Recife!
          </p>
        </div>
      </section>
    </section>
  </div>
</div>
