<div id="who_we_are">
  <div class="container">
    <header id="banner">
    </header>
    
    <section id="intro">
      <section class="row">
        <div class="content span8">
          <h1>Who we are</h1>
          <p>
            We are a Non-Governmental Organization serving the burgeoning city of Recife, the capital of Pernambuco in NE Brazil. Every day we serve 100 children a day from the deprived communities of Recife, and their families.
          </p>

          <p>
            All of those we serve live in extreme poverty in the Coelhos favela and its surroundings. It’s a dangerous environment: many homes are plagued by violence, drugs and prostitution, that leave physical and psychological scars on the population.
          </p>

          <p>
            To create a better city and community, we believe that change starts here. By providing a safe and nurturing environment, we can help each child and their family realize their potential; showing them that there are other paths open to them, and providing the skills and support to help them achieve this. 
          </p>

          <p>
            We provide the children with free education, food and support, teaching them the key character principles needed to prosper: respect, responsibility, caring and union. Similarly, we support their families through professional development courses so that they can break the cycle of drug-trafficking and prostitution, to create better futures for themselves and their families. Thus, our work encompasses all levels: from the child to the families and overall community.
          </p>

          <p>
            From our work over two generations, we’ve seen the potential of each child and family to give back to the community, and to create a stronger city, when given the right skills, support and love. We see the potential of the city in every child and family we work with, and believe that through our work we can build a stronger community, together.
          </p>
        </div>

        <section class="photos span4">
          <div class="row">
            <article class="span4">
              <%= image_tag "pages/who_we_are/quem_somos_1.JPG" %>
              <p>
                The institution offers to the little ones the chance to do what they do the best: being children.
              </p>
            </article>
          </div>
        </section>
      </section>
    </section>
  </div>
</div>